# Data
data_directory="data/"
tables_directory="${data_directory}tables/"
transactions_directory="${tables_directory}transactions_20210228_20210827_snapshot/"
merchants_file_loc="${tables_directory}tbl_merchants.parquet"
transactions_output="${data_directory}curated/transactions.parquet"

# Scripts
scripts_directory="scripts/"
download_script="${scripts_directory}download.py"
preprocess_script="${scripts_directory}preprocess.py"